.tagline {
    background: url('../images/made_in_usa.png') no-repeat top right;
    min-height: 60px;
    margin-top: 25px;
    font-size: 18px;
    line-height: 18px;
}

.brand-green-plain {
    color: #0B5E24;
}

.brand-green {
    font-size: 20px;
    font-weight: bold;
    color: #0B5E24;
    line-height: 0px;
}

.brand-green.hi {
  line-height: 19px;
}

.brand-green.light {
  font-weight: normal;
}

.envisor-text-sub {
    font-size: 0.8em;
}

.envisor-text-results {
    margin-top: 2em;
}

.results-container {
    margin-top: 2em;
}

small {
    line-height: 0;
    font-size: 14px;
}

small span {
    color: #0B5E24;
}

.color-box {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    box-shadow: 2px 5px 5px #888888;
    margin-bottom: 10px;
}

.color-box-graphic {
    background-image: url('../images/graphic.png');
    background-height: 50px;
    background-width: 50px;
}

.color-name {
    font-size: 12px;
}

.preview {
  margin-bottom: 40px;
}

.progress-container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .progress-container {
      display: none;
  }
}

.bar {
  position: absolute;
  top: 10px;
  background: #0B5E24;
  height: 2px;
  width: 100%;
}

.numberCircle {
    position: absolute;
    top: 10px;
    left: 50%;
    border-radius: 50%;

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #0B5E24;
    color: #0B5E24;
    text-align: center;

    font: 18px Arial, sans-serif;
    line-height: 18px;
    transform: translate(-50%, -50%);
}

.numberCircle.on {
  background: #0B5E24;
  color: #FFF;
}

.progress-text {
  text-align: center;
  padding-top: 50px;
}

.divider {
  width: 100%;
  background: #DFDFDF;
  height: 2px;
  margin-top: 30px;
}

.brand-outline {
  -webkit-text-stroke: 1px #0B5E24;
     color: white;
     text-shadow:
         1px 1px 0 #0B5E24,
       -1px -1px 0 #0B5E24,
        1px -1px 0 #0B5E24,
        -1px 1px 0 #0B5E24,
         1px 1px 0 #0B5E24;
font-size: 50px;
-webkit-font-smoothing: antialiased;
}

.color {
  width: 80px;
  margin-bottom: 25px;
  float: left;
  text-align: center;
  word-spacing: 80px;
  height: 110px;
  overflow: hidden;
  position: relative;
  line-height: 12px;
}

.color input, .cap input, .trim input {
  position: absolute;
  bottom: 2px;
}

.italic {
font-style: italic;
}
small.italic {
  font-size: 14px;
  color: #333;
}

.cap, .trim {
  position: relative;
  width: 66px;
  height: 120px;
  overflow:hidden;
  float: left;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.cap label {
  font-size: 12px;
}

.body-name {
  line-height: 12px;
  margin: 5px 0;
}

.save-and-share-container .save-text {
width: 55%;
float: left;
text-align: left;
margin-left: 13%;
margin-top: 2em;
margin-bottom: 30px;
}

.save-and-share-container .save-button input {
margin-top: 2em;
}

.save-button input {
  background: #0B5E24;
  color: #FFF;
  border-radius: 6px;
  border-style: none;
  padding: 5px 25px;
}

.trim {
  height: 120px;
}

.envisor-text-results {
  margin: 0px 0 0 0px;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

.envisor-text-sub {
  margin-top: 0;
  font-size: 14px;
}

.result-header {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.result_logo {
  float:left;
  padding-right: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .result_logo {
    float: none;
  }
}

.wrap_result {
  margin-top: 30px;
}

.preview-img {
  position: relative;
  top: -40px;
}

.brand-green-background {
background-color: #0B5E24;
color: white;
}

.btn-share {
padding: 7px 15px;
border: none;
border-radius: 6px;
font-size: 1em;
text-transform: uppercase;
font-weight: bold;
text-align: center;
margin-bottom: 15px;
}
/*

   .page-header-results .envisor-text-results {
   line-height: 15px;
   }

   .page-header-results .envisor-text-results {
   margin-top: 2em;
   }

   .results-container {
   position: absolute;
   top: 0;
   }

   .preview-info-container .panel-info, .trim-info {
   line-height: 10px;
   }

   .brand-green {
   color: #0B5E24;
   font-weight: normal;
   }

   .brand-green-background {
   background-color: #0B5E24;
   color: white;
   }

   .brand-outline {
   color: white;
   text-shadow: #0B5E24 1px 1px 3px;
   -webkit-font-smoothing: antialiased;
   }

   .btn-share {
   padding: 7px;
   width: 15%;
   border: none;
   border-radius: 6px;
   margin-right: 25%;
   font-size: 1em;
   }

   .btn-share:hover {
   background-color: #052F12;
   cursor: pointer;
   }

   .save-and-share-container .save-text {
   width: 35%;
   float: left;
   text-align: left;
   margin-left: 23%;
   margin-top: 2em;
   }


   .share-links .share {
   float: right;
   background-color: #0B5E24;
   color: white;
   padding: 10px;
   border-radius: 5px;
   letter-spacing: 1px;
   margin-right: 5%;
   }*/
